<ion-header>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col size="10">
        <ion-title>chatRoom</ion-title>
      </ion-col>
      <ion-col size="2">
        <ion-button clear (click)="createPeer()">
          <ion-icon name="wifi"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <div *ngIf="message.from === nickname; then notFrom else mFrom"></div>
      <ng-template #notFrom>
        <ion-col size="9" offset="3" class="message" [ngClass]="'message my_message'">
          <div *ngIf="message.isImage; else noImage">
            <span class="user_name">{{ message.from }}:</span><br>
            <img src="{{ message.text }}" (click)="openImage(message.text)" /><br>
            <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
          </div>
          <ng-template #noImage>
            <div *ngIf="message.isFile; else noFile">
              <span class="user_name">{{ message.from }}:</span><br>
              <ion-button clear (click)="openFile(message.idFile)">
                <!-- El archivo se descarga automaticamente, al estar el peering abierto-->
                <ion-icon name="download"></ion-icon>
              </ion-button>
              {{ message.text }}
              <!-- El nombre del archivo -->
              <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
            </div>
            <ng-template #noFile>
              <span class="user_name">{{ message.from }}:</span><br>
              <span (click)="pressText(message.text)">{{ message.text }}</span><br>
              <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
            </ng-template>
          </ng-template>
        </ion-col>
      </ng-template>

      <ng-template #mFrom>
        <ion-col size="9" class="message" [ngClass]="'message other_message'">
          <div *ngIf="message.isImage; else noImage">
            <span class="user_name">{{ message.from }}:</span><br>
            <img src="{{ message.text }}" (click)="openImage(message.text)" /><br>
            <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
          </div>
          <ng-template #noImage>
            <div *ngIf="message.isFile; else noFile">
              <span class="user_name">{{ message.from }}:</span><br>
              <ion-button clear (click)="openFile(message.idFile)">
                <!-- El archivo se descarga automaticamente, al estar el peering abierto-->
                <ion-icon name="download"></ion-icon>
              </ion-button>
              {{ message.text }}
              <!-- El nombre del archivo -->
              <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
            </div>
            <ng-template #noFile>
              <span class="user_name">{{ message.from }}:</span><br>
              <span (click)="pressText(message.text)" >{{ message.text }}</span><br>
              <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
            </ng-template>
          </ng-template>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col size="7">
        <ion-item>
          <ion-input type="text" placeholder="Escriba aquí su mensaje" [(ngModel)]="message"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-button clear (click)="presentActionSheet()">
          <ion-icon name="attach"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button clear color="primary" (click)="sendMessage()" [disabled]="message === ''">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>